/*
 * no increment/decrement buttons on number inputs
 * see https://stackoverflow.com/a/4298216
 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  display: none;
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield; /* for Firefox */
}
